{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}

    {% if not app.user %}
    <a id="test" class="btn btn-primary" href="{{ path('app_login') }}" role="button">Se connecter</a>
    {% else %}
    <a id="test" class="btn btn-primary" href="{{ path('app_logout') }}" role="button">Se déconnecter</a>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col" id="mapid"></div>

            {% if app.user %}
            <div class="col">
                {{ render(controller('App\\Controller\\MapController::calquesListAction')) }}
                {% block form %}
                {% endblock %}
            </div>


            {% endif %}
        </div>
    </div>


{% endblock %}

